<!--회원가입 완료-->
<header class="header">
  <div class="header__rectangle"></div>
  <span class="font header__title">회원가입 완료</span>
  <hr class="header__line">
</header>

<section class="section">
  <p class="font font--text section__text">
    <span class="section__text--highlight">임팩트스테이션</span> 회원가입이 완료되었습니다.
    <br>
    신청 내역 및 기타 상세정보는 마이페이지에서 확인 가능합니다.
    <br>
    (미리결정한 가입 안내 내용이 전달됩니다.)
  </p>
  <div class="button">
    <span class="font button__title">사이트 방문하기<span>
  </div>
</section>

<footer class="footer">
  <hr class="footer__line">
  <div class="footer__contents">
    <p class="font font--text footer__text"><span class="xeicon"></span> 본 메일을 요청한 적이 없거나 잘못 수신되었다면 이메일로 문의해주시기 바랍니다.</p>
    <div class="footer__link">
      <span class="font font--text footer__link__text">
        임팩트스테이션 바로가기:<a class="url footer__link__text--url" href="">http://dddddasdhasjdhajsdhjsah</a>
      </span>
    </div>
  </div>
</footer>