<!--회원가입 완료-->

<header>
  <div>
    <p class="Rectangle"></p>
    <nav>
      <p class="header_title">회원가입 완료</p>
    </nav>
    <hr class="Rectangle-Copy"></hr>
  </div>
</header>
<section>
  <div>
    <p>
      임팩트스테이션 회원가입이 완료되었습니다. 신청 내역 및 기타 상세정보는 마이페이지에서 확인 가능합니다.(미리결정한 가입 안내 내용이 전달됩니다.)
    </p>
    <p class="Rectangle2">사이트 방문하기</p>
  </div>
</section>
<footer>
  <div>
    <hr></hr>
    <p>본 메일을 요청한 적이 없거나 잘못 수신되었다면 이메일로 문의해주시기 바랍니다.</p>
    <p>
      <p>임팩트스테이션 바로가기: <%= link_to 'Confirm my account' %> </p>
    </p>
  </div>
</footer>
