<!-- 이메일 변경-->
<div class="header">
  <header>
    <span class="rectangle_header_box"></span>
    <p class="header_title">이메일 재설정</p>
    <hr class="rectangle_hr1">
  </header>
</div>

<div class = "body">
  <section>
    <p class="session_text">
      아래 링크를 클릭하시면 이메일을 변경할 수 있습니다.
    </p>
    <p class="rectangle_button">
      <span class="rectangle_button_text">이메일 변경하기<span>
    </p>
    <p class="session_text">
      만일 이메일 변경을 요청한 적이 없다면, 이 메일을 무시하세요.<br>
      당신의 이메일은 위 URL주소에 접속하기 전엔 기존 이메일에서 변경되지 않습니다.
    </p>
  </section>
</div>

<div class = "footer">
  <footer>
    <hr class="rectangle_hr2">
    <p class="footer_text"><i class="xeicon"></i>본 메일을 요청한 적이 없거나 잘못 수신되었다면 이메일로 문의해주시기 바랍니다.</p>
    <p class="rectangle_footer_box">
        <span class="rectangle_footer_box_text">
          임팩트스테이션 바로가기:
          <a href="" class="rectangle_footer_box_link_text">Confirm my account</a>
        </span>
        
        <!--<a href="">
          임팩트스테이션 바로가기: <span style="text-weight: bold;"> 강조 </span>
        </a>-->
    </p>
    <!-- <a href="http://naver.com">페이지가 바뀌는 링크</a>-->
    <!--<button onclick="alert('dd')">form submit / javascript onclick 이벤트 용도</button>-->
  </footer>
</div>


