<!--비밀번호 변경 확인-->
<header class="header">
  <div class="header__rectangle"></div>
  <span class="font header__title">비밀번호 변경 확인</span>
  <hr class="header__line">
</header>

<section class="section">
  <p class="font font--text section__text">
    {이름}님 안녕하세요. {이름}님의 비밀번호 변경 요청이 성공적으로 처리되었습니다!
    <br>
    만일 비밀번호 변경을 요청한 적이 없다면, 이메일로 문의해주시기 바랍니다.
  </p>
</section>

<footer class="footer">
  <hr class="footer__line">
  <div class="footer__contents">
    <p class="font font--text footer__text"><span class="xeicon"></span> 본 메일을 요청한 적이 없거나 잘못 수신되었다면 이메일로 문의해주시기 바랍니다.</p>
    <div class="footer__link">
      <span class="font font--text footer__link__text">
        임팩트스테이션 바로가기:<a class="url footer__link__text--url" href="">http://dddddasdhasjdhajsdhjsah</a>
      </span>
    </div>
  </div>
</footer>
