<!--비밀번호 변경-->
<p>Hello Dundu</p>
// users/mailer/ 이부분의 내용을 mails 폴더에 복사하세요.

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', '#' %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
