<!--회원가입 완료-->
<header class="header">
  <div class="header__rectangle"></div>
  <span class="header__title">비밀번호 완료</span>
  <hr class="header__line">
</header>

<section class="section">
  <p class="session__text">
    아래 링크를 클릭하시면 비밀번호를 변경할 수 있습니다.
  </p>
  <div class="button">
    <span class="button__title">비밀번호 변경하기<span>
  </div>
  <p class="session__text">
    만일 비밀번호 변경을 요청한 적이 없다면, 이 메일을 무시하세요.
    <br>
    당신의 비밀번호는 위 URL주소에 접속하기 전엔 기존 비밀번호에서 변경되지 않습니다.
  </p>
</section>

<footer class="footer">
  <div class="footer__line"></div>
  <p class="footer__text"><i class="xeicon"></i>본 메일을 요청한 적이 없거나 잘못 수신되었다면 이메일로 문의해주시기 바랍니다.</p>
  <p class="link">
      <span class=".link__text">
        임팩트스테이션 바로가기: <a href="">Confirm my account</a>
      </span>
      <%# <a href="">
     b   임팩트스테이션 바로가기: <span style="text-weight: bold;"> 강조 </span>
      </a> %>
  </p>
  <%# <a href="http://naver.com">페이지가 바뀌는 링크</a> %>
  <%# <button onclick="alert('dd')">form submit / javascript onclick 이벤트 용도</button> %>
</footer>



