.nested_fields.list-group-item
  .row
    .col-1
      = f.number_field :seq, placeholder: '순서', class: 'form-control'
    .col-5
      = f.text_field :name, placeholder: '분류명', class: 'form-control'
    .col-4
      = f.text_field :slug, placeholder: '영문주소', class: 'form-control'
    .col-2
      = link_to_remove_association "삭제", f, class: 'btn btn-outline-danger btn-block'
