<%# set_tags(og_title: @object.name, og_description: excerpt_long(@object.body), og_url: object_url(@object), og_image: rails_blob_url(@object.thumb)) #%>

<div class="container">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Base Rails</h1>
      <p>
        <a class="btn btn-primary" href="/docs/4.3/components/navbar/" role="button">View docs »</a>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <% @main_sliders.each do |slider| %>
      <h2><%= slider.get_value("title")%></h2>
      <p><%= slider.get_value("body")%></p>
      <%= slider.get_value("body")%>
      <%= image_tag slider.get_value("image").file.variant(resize: '300x') if slider.get_value("image").present? %>
    <% end %>
  </div>
</div>