<%# set_tags(og_title: @object.name, og_description: excerpt_long(@object.body), og_url: object_url(@object), og_image: rails_blob_url(@object.thumb)) #%>

<div class="container">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Base Rails</h1>
      <p>
        <a class="btn btn-primary" href="/docs/4.3/components/navbar/" role="button">View docs »</a>
      </p>
    </div>
  </div>
</div>