= render 'page_header', title: "메인 페이지 관리 > #{@op_item_setting["name"]}", action: nil

= render 'form', op_item: OpItem.new(category: @category)
%div{ "data-js-sortable" => "" }
  - @op_items.each_with_sortable_id do |op_item, sortable_id|
    = render 'form', op_item: op_item
:javascript
  $(document).ready(function() {
    $(".form-op-item-image").on('change', function() {
      var $target = $(this);

      var data = new FormData;
      var file = $target[0].files[0];

      data.append('asset[file]', file);
      $.blockUI({ message: '파일을 첨부하는 중입니다.' });

      $.ajax({
        data: data,
        type: 'POST',
        url: '/radmin/assets',
        cache: false,
        contentType: false,
        processData: false,
        success: function(data) {
          var asset_field_dom_id = "#"+$target.data("field-id");
          var $asset_field = $target.closest('form').find(asset_field_dom_id);
          $asset_field.val(data.asset_id);
          $.unblockUI();
        },
        error: function(jqXHR) {
          $.unblockUI();
          alert("파일 첨부중 오류가 발생했습니다. 다시 시도해주세요.");
          console.error(jqXHR);
        }
      });
    });
  });