= render 'page_header', title: "#{Policy.category_name(@policy.category)} 수정", action: link_to('목록으로', admin_policies_path(category: @policy.category), class: 'btn btn-primary')

%section.p-4
  %p #{Policy.category_name(@policy.category)}을 작성해 주세요.
  = render 'form'