<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      html{
        width: 680px;
        height: 861px;
      }
      .Rectangle {
        width: 120px;
        height: 48px;
        background-color: #6e61f1;
      }
      .header_title {
        width: 230px;
        height: 48px;
        font-family: NotoSansCJKkr;
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #2c2c2c;
      }
      .Rectangle-Copy {
        width: 568px;
        height: 1px;
        background-color: #dcdcde;
        border-bottom: 0px;
        border-top: 0px;
      }
      
      .Rectangle2 {
        width: 235px;
        height: 56px;
        border-radius: 28px;
        background-color: #6e61f1;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
